#add, #logout, #search{
	-fx-text-fill: #FFFFFF;
	-fx-font: 24 Montserrat;
	-fx-background-radius: 60;
	-fx-background-color: transparent;
}

#add:hover, #logout:hover, #search:hover{
	-fx-text-fill: #66c2ff;
}

#back{
	-fx-background-image: url("../assets/back-white.png");
	-fx-background-repeat: stretch;   
    -fx-background-size: 130 70;
    -fx-background-position: center center;
    -fx-background-color: transparent;
}

#back:hover{
	-fx-background-image: url("../assets/back-blue.png");
}

#add{
	-fx-font: 48 Montserrat;
}

AnchorPane{
	-fx-background-color: #2980b9;
}

#albums{
	-fx-background-color: #f2f2f2;
}

ImageView{
	-fx-alignment: center;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-shape: "";
    -fx-padding:0;
}

.scroll-bar:horizontal {
    -fx-opacity: 0;
}


.scroll-bar:vertical .thumb 
{
    -fx-background-color: #3498db;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

Text {
	-fx-text-alignment: center;
	-fx-font: 16 Montserrat;
	-fx-fill: #595959;
}

#title{
	-fx-text-alignment: center;
	-fx-font: 24 Montserrat;
	-fx-fill: #FFFFFF;
}